<div class="container">
  <h1>All Cocktails</h1>
  <p>
    <%= link_to 'add your own', new_cocktail_path %>
  </p>
  <ul>
    <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>
    <% end %>
  </ul>
</div>
